<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:create-block/daydream-cover -->
<div class="wp-block-create-block-daydream-cover" style="max-width: unset">
	<header class="ddy-cover">
		<div class="ddy-cover__top">
			<figure class="ddy-cover__image-cell">
				<img class="ddy-cover__image" alt="" />
			</figure>
			<div class="ddy-cover__features-cell">
				<dl class="ddy-cover__features">
					<div class="ddy-cover__features-item">
						<dt class="ddy-cover__features-item_title">Datum</dt>
						<dd class="ddy-cover__features-item_desc">
							13.02.-27.02.2022 (zwei Wochen)
						</dd>
					</div>
					<div class="ddy-cover__features-item">
						<dt class="ddy-cover__features-item_title">Von</dt>
						<dd class="ddy-cover__features-item_desc">Korfu</dd>
					</div>
					<div class="ddy-cover__features-item">
						<dt class="ddy-cover__features-item_title">Nach</dt>
						<dd class="ddy-cover__features-item_desc">Korfu</dd>
					</div>
					<div class="ddy-cover__features-item">
						<dt class="ddy-cover__features-item_title">Yacht</dt>
						<dd class="ddy-cover__features-item_desc">
							Einem brandneuen Astrèa 42
						</dd>
					</div>
					<div class="ddy-cover__features-item">
						<dt class="ddy-cover__features-item_title">Skipper</dt>
						<dd class="ddy-cover__features-item_desc">
							<a href="#url">Thomas Brandes</a>
						</dd>
					</div>
					<div class="ddy-cover__features-item">
						<dt class="ddy-cover__features-item_title">Seemeilen</dt>
						<dd class="ddy-cover__features-item_desc">1300sm</dd>
					</div>
				</dl>
				<div class="ddy-cover__cta-cell">
					<a href="" class="ddy-cover__btn"
						><span>Take me there!</span>
						<div class="ddy-cover__btn-price">1999,-€</div>
						<div class="ddy-cover__btn-hover">Send request</div></a
					>
				</div>
			</div>
		</div>
		<div class="ddy-cover__bottom"><h1 class="ddy-cover__title"></h1></div>
	</header>
</div>
<!-- /wp:create-block/daydream-cover -->

<!-- wp:post-content {"layout":{"inherit":true}} /-->
