$subMenuZindex: 99999;

.main-navigation {
	display: flex;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: $subMenuZindex;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			:hover > a,
			.focus > a {
				color: black;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: -2vw;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			color: lighten($color__nav-link, 40);
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 850px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.menu-main-container {
	display: flex;
}

.menu-item {
	font-size: 1.1rem;
	font-weight: 200;
	letter-spacing: 0.02em;

	.nav-menu > & {
		white-space: nowrap;
		display: flex;
		align-items: center;
		margin: 0 2vw;
	}

	a {
		color: $color__nav-link;
	}

	& &:hover > .sub-menu,
	& &.focus > .sub-menu {
		left: 85%;
		top: -60%;
		max-width: 12em;
	}

	& &:hover > .sub-menu {
		z-index: #{$subMenuZindex + 1};
	}
}

.sub-menu {
	$radius: 10px;
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	padding: 0;
	width: 15vw;
	min-width: 12em;
	border-radius: $radius;

	.menu-item {
		padding: .75em 1.25em;
		white-space: normal;

		&:first-child {
			border-radius: $radius $radius 0 0;
		}

		&:last-child {
			border-radius: 0 0 $radius $radius;
		}

		&:first-child:last-child {
			border-radius: $radius;
		}
		
		+ .menu-item {
			border-top: solid 1px #eee;
		}

		&:hover {
			background-color: #eee;
		}
	}
}

.wp-block-site-logo {
	margin-left: 30px
}

.custom-logo-link {
	position: absolute;
    z-index: 99;
}

.ddy-main-nav {
	margin-right: 30px;
}

.wp-block-navigation__submenu-container {
	border-radius: 10px;
}

.wp-block-navigation-item__label {
	& .wp-block-navigation-item__label {
		font-weight: 100;
	}
}
